<h1>Rich's Book Catalogue</h1>
<nav>
  <a class="link" href="/authors">Check out the freakin' authors</a>
</nav>

<ul>
 {{#each books}}
  <div class="book">
    <li>Name: {{this.title}}</li>
    <li>Author: {{this.first_name}} {{this.last_name}}</li>
    <li>Year Released: {{this.year}}</li>
    <li>Read it?: {{this.have_read}}</li>
    <li><a href="/books/{{this.id}}"><img src="{{this.image_link}}" /></a></li>
  </div>
 {{/each}}
</ul>