<div class="col-sm-2 sidenav"></div>
<div class="col-sm-8 text-left">
<div>
	<h1>{{this.title}} ({{this.year}})</h1>
	<h3> - {{this.first_name}} {{this.last_name}}</h3>
</div>

<form class="new_book" id="new_book" action="/books/{{this.id}}" accept-charset="UTF-8" method="post">

	<p>
		Have I read it?<br><br>
	  <input type="radio" name="have_read" value=1 /> Yes<br><br>
	  <input type="radio" name="have_read" value=0 /> No<br><br>
	  <textarea placeholder="Rich's description" rows="10" cols="50" name="my_description" id="my_desc">{{this.my_description}}</textarea><br>
	  <input type="submit"  value="Submit changes" />
	  <a class="link" href="/books/{{this.id}}">Cancel edit</a>
	</p>

</form>
</div>
<div class="col-sm-2 sidenav"></div>