<h1>Rich's Book Catalogue</h1>
<nav>
  <a class="link" href="/books/new">add a book to the database</a>
</nav>

<ul>
 {{#each books}}
  <div class="book">
    <li>Name: {{this.name}}</li>
    <li>Author: {{this.author}}</li>
    <li>Year Released: {{this.year}}</li>
    <li><a href="/books/{{this.id}}"><img src="{{this.image}}" /></a></li>
  </div>
 {{/each}}
</ul>
