<h1>{{this.title}} ({{this.year}})</h1>
<h3> - {{this.first_name}} {{this.last_name}}</h3>
<nav>
  <a class="link" href="/books">View all the books</a>
  <a class="link" href="/authors">View all the authors</a>
</nav>

<ul>
  <div class="book">
    <li><img src="{{this.image_link}}" /></li>
  </div>
</ul>