<nav>
  <a class="link" href="/">Home</a>
  <a class="link" href="/books">View all books</a>
  <a class="link" href="/authors">View all authors</a>
</nav>
<h1>{{this.first_name}} {{this.last_name}}</h1>

{{#each books}}
<div class="book">
  <h3>{{this.title}} ({{this.year}})</h3>
  <p><strong>Google says:</strong> {{this.description}}</p>
  <p>Read it? {{this.have_read}}</p>
  <a href="/books/{{this.id}}"><img src="http://covers.librarything.com/devkey/{{this.key}}/medium/isbn/{{this.isbn}}" /></a>
</div>
{{/each}}