<h1>{{this.first_name}} {{this.last_name}}</h1>
<nav>
  <a class="link" href="/books">View all the books</a>
  <a class="link" href="/authors">View all the authors</a>
</nav>

<ul>
 {{#each books}}
  <div class="book">
    <li>Name: {{this.title}}</li>
    <li>Year Released: {{this.year}}</li>
    <li><a href="/books/{{this.id}}"><img src="{{this.image_link}}" /></a></li>
  </div>
 {{/each}}
</ul>